cxf-soap-stub/src/main/resources/wsdl/ManagePerson.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://cccs.org/person"
        xmlns:tns="http://cccs.org/person"
        xmlns:dom="http://cccs.org/domain"
        xmlns:person="http://cccs.org/person/schema"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <xsd:schema
                elementFormDefault="qualified"
                targetNamespace="http://cccs.org/person/schema"
                xmlns:dom="http://cccs.org/domain"
                xmlns:person="http://cccs.org/person/schema">
            <xsd:import namespace="http://cccs.org/domain" schemaLocation="person.xsd"/>
            <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element name="stringType" type="xsd:string"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="createPersonRequest">
        <wsdl:part name="person" type="dom:person"/>
    </wsdl:message>

    <wsdl:message name="createPersonResponse">
        <wsdl:part name="response" type="dom:person"/>
    </wsdl:message>

    <wsdl:message name="getPersonRequest">
        <wsdl:part name="personId" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="getPersonResponse">
        <wsdl:part name="response" type="dom:person"/>
    </wsdl:message>

    <wsdl:portType name="PersonPort">
        <wsdl:operation name="createPerson">
            <wsdl:input name="createPersonRequest" message="tns:createPersonRequest"/>
            <wsdl:output name="createPersonResponse" message="tns:createPersonResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getPerson">
            <wsdl:input name="getPersonRequest" message="tns:getPersonRequest"/>
            <wsdl:output name="getPersonResponse" message="tns:getPersonResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="PersonBinding" type="tns:PersonPort">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="createPerson">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="createPersonRequest">
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="http://cccs.org/person"
                        use="literal"/>
            </wsdl:input>
            <wsdl:output name="createPersonResponse">
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="http://cccs.org/person"
                        use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getPerson">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="getPersonRequest">
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="http://cccs.org/person"
                        use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPersonResponse">
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="http://cccs.org/person"
                        use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="PersonService">
        <wsdl:port name="PersonPort" binding="tns:PersonBinding">
            <soap:address location="http://cccs.org/person"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
