cxf-soap-stub/src/main/resources/wsdl/ManageDog.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://cccs.org/dog"
        xmlns:tns="http://cccs.org/dog"
        xmlns:dom="http://cccs.org/domain"
        xmlns:dog="http://cccs.org/dog/schema"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"        
        xmlns="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <xsd:schema
                elementFormDefault="qualified"
                targetNamespace="http://cccs.org/dog/schema"
                xmlns:dom="http://cccs.org/domain"
                xmlns:dog="http://cccs.org/dog/schema">
            <xsd:import namespace="http://cccs.org/domain" schemaLocation="dog.xsd"/>
            <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element name="stringType" type="xsd:string"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="createDogRequest">
        <wsdl:part name="dog" type="dom:dog"/>
    </wsdl:message>

    <wsdl:message name="createDogResponse">
        <wsdl:part name="response" type="dom:dog"/>
    </wsdl:message>

    <wsdl:message name="getDogRequest">
        <wsdl:part name="dogId" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="getDogResponse">
        <wsdl:part name="response" type="dom:dog"/>
    </wsdl:message>    

    <wsdl:portType name="DogPort">
        <wsdl:operation name="createDog">
            <wsdl:input name="createDogRequest" message="tns:createDogRequest"/>
            <wsdl:output name="createDogResponse" message="tns:createDogResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDog">
            <wsdl:input name="getDogRequest" message="tns:getDogRequest"/>
            <wsdl:output name="getDogResponse" message="tns:getDogResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="DogBinding" type="tns:DogPort">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="createDog">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="createDogRequest">
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="http://cccs.org/dog"
                        use="literal"/>
            </wsdl:input>
            <wsdl:output name="createDogResponse">
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="http://cccs.org/dog"
                        use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getDog">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="getDogRequest">
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="http://cccs.org/dog"
                        use="literal"/>
            </wsdl:input>
            <wsdl:output name="getDogResponse">
                <soap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="http://cccs.org/dog"
                        use="literal"/>
            </wsdl:output>
        </wsdl:operation>        
    </wsdl:binding>

    <wsdl:service name="DogService">
        <wsdl:port name="DogPort" binding="tns:DogBinding">
            <soap:address location="http://cccs.org/dog"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
